body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #eaeaea;
}

#homeScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameCanvas {
    display: none;
    background-color: #fff;
    margin: auto;
    border: 2px solid #000;
}

canvas:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
  
  canvas:-moz-full-screen {
    width: 100%;
    height: 100%;
  }
  
  canvas:fullscreen {
    width: 100%;
    height: 100%;
  }
  
  canvas:-ms-fullscreen {
    width: 100%;
    height: 100%;
  }
  